API_URL=http://localhost:3000

# DATABASE key
DATABASE_URL=

#AI
OPENROUTER_API_KEY=

#CLERK API 
CLERK_OAUTH_CLIENT_SECRET=
CLERK_OAUTH_CLIENT_ID=

JWT_SECRET=

CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=